@charset "UTF-8";


:root {

    --cor0: #ffffff;
    --cor1: #D90B1C;
    --cor2: #FAF566;
    --cor3: #9ACFDD;
    --cor4: #acacac;
    --cor5: #333d06;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 50px 15px;
    text-align: justify;
}


body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--cor1);
}


nav > a:hover {
    background-color: var(--cor2);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav {
    background-color: var(--cor1);
    padding: 10px;
    line-height: 3;
    
}

nav > img {
    padding-left: 10% !important;
    

}


main h1 {
    color: var(--cor1);
    margin: 0px 10px;
    

}

main article {
    margin: 0px 10px;
}

article h1 {

    margin: 0px 10px
}

footer {
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 1px;
    

}


aside > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold ;
    margin: 50px 10px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 2em;
}

aside > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 10px;
}

